<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>


<td><%= link_to @team.team_name, team_kpts_path(@team)%></td>


<h1>ワイワイグループのKPT一覧</h1>

<h2>title</h2>

<h2>8/1のKPT</h2>
<h2>8/2のKPT</h2>