<h1>[<%=@team.team_name %>]のメンバー</h1>
<table>
  <thead>
    <tr>
      <th>ニックネーム </th>      
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @join_team_users.each do |join_team_user| %>
      <tr>
        <td><%= join_team_user.name%></td>
        <%
=begin%>
 <td><%= link_to 'チームから外れる', join_team_path(@join_team), method: :delete, class: 'btn btn-danger' %></td>  
<%
=end%>
      </tr>
      
    <% end %>



  </tbody>
</table>
<%= link_to "チーム一覧", teams_path %>
